/* Error: Undefined variable.
 *    ,
 * 66 |   background-color: $dark-theme-base;
 *    |                     ^^^^^^^^^^^^^^^^
 *    '
 *   src/scss/pages/_project.scss 66:21  @import
 *   src/scss/_app.scss 11:9             @import
 *   src/scss/main/light.scss 2:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 66 \2502    background-color: $dark-theme-base;\a    \2502                      ^^^^^^^^^^^^^^^^\a    \2575 \a   src/scss/pages/_project.scss 66:21  @import\a   src/scss/_app.scss 11:9             @import\a   src/scss/main/light.scss 2:9        root stylesheet";
}
