**/node_modules
node_modules/
**/*.js
**/*.cjs
**/build
**/build/**
**/generated
lunadefend/**/*
lunadefend/js/demo-apps/packages/react-front-end/cypress/integration/secure_components_spec.ts
lunatrace/bsl/backend/lib/api/
.pnp.cjs
*.mjs
deploy-apigateway-to-firehose.ts
**/*.vue
**/metrics-server-backend/*
**/ContactForm.jsx
**/generated.ts
**/cdk.out/**
**/generated-schema-1-validator.ts
**/generated-resolver-types.ts
lunatrace/bsl/semgrep/
**/real-dependency-tree-hasura-output.ts
**/huge-docusaurus-tree-hasura-output.ts
**/backend-cdk/ts-output/**
