node_modules
/*/node_modules
*.tsbuildinfo
**/secrets.yaml
*.log
.log*
**/package-lock.json
**/yarn.lock-workspace

.npmrc

docker-compose.*.yaml
.env.docker
outputs/
out/
.log*

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

docs/.yarn/.cache/webpack

.eslintcache


deployment-secrets/
.gitattributes

.pnp.cjs
