.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">") !important;
}


.navbar-nav {
  .switch {
    border-radius: .25rem;
    height:38px;
    align-self: center;
  }
}
