.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">") !important;
}


.navbar-nav {
  .switch {
    border-radius: .25rem;
    height:38px;
    align-self: center;
  }
}
//
//.login-navbar-button {
//  .button {
//    color: white !important;
//  }
//}
//
// TODO: potentially make a navbar button divider..too ugly for now
//.nav-item:not(:last-child) {
//  border-right: 1px solid $secondary;
//
//}
