.darker {
  color: $body-color;
}

.lighter {
  color: $headings-color;
}

.modal-body {
  margin-bottom: 1em;
}

.bubble {
  background-color: var(--bs-primary) !important;
}

#atlas-chat .bubble {
  .bubble-icon {
    display: none;
  }

  &::after {
    margin-top: .75em;
    content: url('data:image/svg+xml,<svg stroke="currentColor" fill="white" stroke-width="0" viewBox="0 0 16 16" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><path d="M14 0a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"></path></svg>') !important;
  }
}


input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.dot-through {
  text-decoration-line: line-through;
  text-decoration-style: dotted;
}



//.color-responds-theme {
//  color: $gray-700 !important;
//}
//
//.project-nav {
//  .nav-link :not(.active){
//    color: $blue !important;
//  }
//
//}
