html
  head
    script(src="http://localhost:5002/public/main.js", nonce=nonce)
    title test
  body
    h1 Secure Frame
    form
      label(for='fname') First name:
      br
      input#fname(type='text', name='fname')
      br
      label(for='lname') Last name:
      br
      input#lname(type='text', name='lname')

