.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.app-form {
  max-width: 600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #999;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  border: solid 4px;
  height: 40px;
  width: 300px;
  margin-bottom: 4px;
  border-radius: 5px;
}

input[type=password] {
  border-style:dashed;
}

.d-block {
  display: block;
}

textarea {
  border: solid blue 4px;
  height:80px;
  width: 300px;
  margin-bottom: 4px;
  border-radius:5px;
}

p {
  white-space: pre-wrap;
}

.invalid {
  color:red;
}