[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = US
ST = State
L = Location
O = Organization Name
OU = Organizational Unit 
CN = localstack
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = localstack-proxy
DNS.2 = localhost
[ext]
basicConstraints=CA:TRUE,pathlen:1
