.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-width: 0;
  transition: $sidebar-transition;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    overflow-y: hidden;
  }
}
