html
  head
    title Secure Frame
    link(href=.StyleUrl, rel="stylesheet", nonce=.CSPNonce)
  body
    h1.d-none Secure Frame
    span.loading-text Loading...
    script(src=.ScriptUrl, nonce=.CSPNonce)

