html
  head
    title test
    script(src="http://localhost:5002/public/app-test.js", nonce=nonce)
    link(href="/static/main.css", rel="stylesheet")
  body
    h1 Insecure Customer App
    iframe.secure-frame-instance(src="http://localhost:5002/")

