
.d-none {
    display: none;
}

body {
    margin: 0;
}

input {
    padding: 0;
    margin: 0;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

secure-input {
/*    width: 100%;*/
/*    height: 100%;*/
    position: absolute;
    top: 0;
    left: 0;
}

input:active {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input:focus {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

