[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = ">=0.26.4"
dataclasses-json = "*"
transformers = "*"
nltk = "*"
numpy = "*"
tenacity = "<8.2.0"
pandas = "*"
llama-index = "*"
beautifulsoup4 = "*"
pinecone-client = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
