.homepage-manifest-drop {
  background-color: var(--bs-body-bg);
}

.homepage-subtitle {

  margin-left: 11px;
  margin-bottom: 4px;
  padding: 10px 20px 20px 20px;
  &.left-bar-border {
    border-left: 2px solid var(--bs-secondary);
  }
}

.homepage-subtitle.active {
  border-color: var(--bs-primary);
}
