//.project-page {
//  > .nav-item {
//    font-size: $lg
//  }
//}

.wide-tooltip > .tooltip-inner {
  max-width: 50em;
}

.secret-more-info-accordion-header > button {
  color: $primary;
}

.ignore-vuln-button:hover {
  color:red;
}

.vuln-table-item.open {
  background-color: $primary;
  color: $white;
}

.vuln-table-item.ignored {
  background-color: $gray-300;
}

.package-trees {
  font-size: 1.2em;
}

.primary-color {
  color: $primary;
}

.one-point-two-em {
  font-size: 1.2em;
}

.package-update-popover {
  max-width: min( 98vw, 400px);
}

.all-packages-update-popover {
  max-width: min(98vw, 700px);
}

.adjustment-fieldset {
  border: $gray-200 1px solid;
  border-radius: 4px;
  width:auto;
  padding-left: 1.5rem;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  //padding: 0.75rem 2.5rem 1.5rem;
}

.adjustment-legend {
  font-size: .9em;
  margin-top: -.9em;
  width: auto;
  color: $green;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 20px;
  background-color: $card-bg;
}
