//.project-page {
//  > .nav-item {
//    font-size: $lg
//  }
//}

.wide-tooltip > .tooltip-inner {
  max-width: 50em;
}

.secret-more-info-accordion-header > button {
  color: $primary;
}

.ignore-vuln-button:hover {
  color:red;
}

.vuln-table-item.open {
  background-color: $primary;
  color: $white;
}

.vuln-table-item.ignored {
  background-color: $gray-100;
}
